@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	::-moz-selection {
		@apply bg-indigo-100;
	}
	::selection {
		@apply bg-indigo-100;
	}

	body {
		margin: 1rem;
	}

	*:focus, button:focus {
		@apply outline-none ring-2 ring-indigo-500 ring-opacity-50;
	}

	h1 {
		@apply text-2xl font-light tracking-widest;
	}
	h2 {
		@apply text-xl font-light;
	}
	p {
		@apply leading-relaxed;
	}
	a {
		@apply text-gray-500 hover:underline;
	}
}

@layer components {
	.color {
		display: inline-block;
		margin: 0.5rem;
	}
	.color-preview {
		border-radius: 0.5rem;
		width: 2rem;
		height: 2rem;
		margin: 0.25rem;
		display: inline-block;
		cursor: pointer;
		transition: border-radius 0.25s;
	}
	.color-preview:hover {
		border-radius: 1rem;
	}

	.number {
		@apply text-gray-700;
	}
	.hex {
		@apply text-gray-700 text-xs;
	}

	button {
		@apply p-2 mx-1 rounded-md text-gray-700 hover:bg-gray-700 hover:text-white;
	}

	header {
		@apply pb-2 mb-2 border-b-2 border-gray-200;
	}
	footer {
		@apply pt-2 mt-2 border-t-2 border-gray-200;
	}

}

@media print {
	header, footer {
		display: none;
	}
	body, .color-preview {
		margin: 0;
	}
	.color {
		margin-top: 0.125rem;
		margin-bottom: 0.125rem;
	}
}

@screen sm { /* 640px */
}

@screen md { /* 768px */
	.hex {
		@apply text-sm;
	}
}

@screen lg { /* 1024px */
}

@screen xl { /* 1280px */
}