@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	::-moz-selection {
		@apply bg-gray-100;
	}
	::selection {
		@apply bg-gray-100;
	}

	body {
		margin: 1rem;
	}

	h1 {
		@apply text-2xl font-light;
	}
	h2 {
		@apply text-xl font-light;
	}
	p {
		@apply leading-relaxed;
	}
	a {
		@apply text-gray-500 hover:underline;
	}
}

@layer components {
	.shade {
		display: block;
	}
	.color {
		display: inline-block;
		margin: 0.5rem;
	}
	.color-preview {
		border-radius: 0.5rem;
		width: 2rem;
		height: 2rem;
		margin: 0.25rem;
		display: inline-block;
		cursor: pointer;
	}
	.color-preview:hover {
		@apply shadow-lg;
	}

	.number {
		@apply text-gray-700;
	}
	.hex {
		@apply text-gray-700 text-sm;
	}

}

@media print {
	h1, a, p.my-4, hr {
		display: none;
	}
	body, .color-preview {
		margin: 0;
	}
}

@media (min-width: 640px) { /* sm */
}

@media (min-width: 768px) { /* md */
}

@media (min-width: 1024px) { /* lg */
}

@media (min-width: 1280px) { /* xl */
}