@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	::-moz-selection {
		@apply bg-gray-100;
	}
	::selection {
		@apply bg-gray-100;
	}

	body {
		margin: 1rem;
	}

	*:focus, button:focus {
		@apply outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-50;
	}

	h1 {
		@apply text-2xl font-light;
	}
	h2 {
		@apply text-xl font-light;
	}
	p {
		@apply leading-relaxed;
	}
	a {
		@apply text-gray-500 hover:underline;
	}
}

@layer components {
	.shade {
		display: block;
	}
	.color {
		display: inline-block;
		margin: 0.5rem;
	}
	.color-preview {
		border-radius: 0.5rem;
		width: 2rem;
		height: 2rem;
		margin: 0.25rem;
		display: inline-block;
		cursor: pointer;
	}
	.color-preview:hover {
		@apply shadow-lg;
	}

	.number {
		@apply text-gray-700;
	}
	.hex {
		@apply text-gray-700 text-sm;
	}

	button {
		@apply p-2 mx-1 rounded-md text-gray-700 hover:bg-gray-700 hover:text-white;
	}

	header {
		@apply pb-2 mb-2 border-b-2 border-gray-300;
	}
	footer {
		@apply pt-2 mt-2 border-t-2 border-gray-300;
	}

}

@media print {
	header, footer {
		display: none;
	}
	body, .color-preview {
		margin: 0;
	}
	.color {
		margin-top: 0.125rem;
		margin-bottom: 0.125rem;
	}
}

@media (min-width: 640px) { /* sm */
}

@media (min-width: 768px) { /* md */
}

@media (min-width: 1024px) { /* lg */
}

@media (min-width: 1280px) { /* xl */
}